@import 'var';
@import 'normalize';

html,
body {
  background-color: $c-white;
  scroll-behavior: smooth;
}

.noscript {
  font: bold 30px 'Open Sans';
  text-align: center;
  margin-top: 100px;
  display: block;
}

// overwrite VueCarousel styles to comply with the design
.VueCarousel-pagination {
  position: relative;
  bottom: 230px;
}
.VueCarousel-dot-button {
  border: 2px solid #adadad !important;
  width: 16px !important;
  height: 16px !important;
}